h1{
    font-family: sans-serif;
    font-size: 80px;
    line-height: 95px;
}

h2{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

p{
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

span{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 16px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.name{
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom: 2px solid black;
}

.photo{
    margin: 48px 0;
}

.primary-color-title span{
    color: #A00404;
}

.profile .content{
    padding-top: 16px;
    padding-bottom: 40px;
}

.profile li{
    padding-bottom: 24px;
}

.education .content{
    padding-bottom: 64px;
}

.education li{
    padding-top: 16px;
}

.skill{
    background-color: #415165;
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: 64px;
}

.skill-container{
    width: 996px;
    margin: 0 auto;
    padding-top: 24px;
}

.secondary-color-title {
    color: white;
    border-color: white;
}

.skill .content{
    color: white;
    border-left: 1px solid #96A9C4;   
    width: 225px;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;
}

.skill .content li{
    padding-left: 24px;
    margin-bottom: 8px;
}

h3{
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

.experience{
    margin-bottom: 80px;
}

.experience p{
    font-size: 20px;
    font-weight: 300;
}

.experience .content{
    margin-top: 16px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
}

.experience li{
    margin-bottom: 24px;
}